#divSearchBar .text {
    float: left;
    width: 100px;
}

#divSearchBar .input {
    margin-left: 110px;
}

#divSearchBar input {
    width: 100%;
}

.result.row.hdr {
    border-bottom: 2px solid white;
    font-weight: bold;
}

.result.row:nth-child(even) {
    background-color: #222;
}

.result .col {
    display: inline-block;
}

.result .col.name {
    float: left;
    width: 100px;
}

.result .col.desc {
    margin-left: 110px;
}